@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --color-white : #fff;
    --font-semi-bold : 600;
    --body-font :  'Raleway', sans-serif;
    --color-lighler : rgb(101, 101, 101);
    --size-semi-bold: 600;
    --body-color:#F3f3f3;
    --color-black : #222;
    --color-nav : #f0f0f0;

}

html{
    scroll-behavior: smooth;
}


body{
  font-family: var(--body-font);
}

body.dark-theme{
    --body-color:#201e1e;
    --color-black : #fff;
    --color-lighler : rgb(213, 211, 211);
    --color-nav : #2c2929;

}

img{
   width: 100%;
   height: 100%;
   object-position: center;
   object-fit: cover;
   transition: .3s ease all;
}

header{
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.fa-moon,.fa-sun{
    cursor: pointer;
    font-size: 1.3rem;
}
header.active{
    background-color:var(--color-nav);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

header.active .logo{
    color: var(--color-black);
}
.logo i{
    font-size: 1.9rem;
    padding-right: 5px;
}
.logo h1{
    font-size: 1.7rem;
}

.nav_menu_icon{
    display: none;
}
.nav{
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;

}

.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 3rem;

}

.nav_menu li .nav_link{
    position: relative;
    color: var(--color-white);
    text-decoration: none;
    font-weight: var(--font-semi-bold);
    padding: 0 0 3px 0;
}

header.active .nav_menu li .nav_link{
    color: var(--color-black);
}

header.active .nav_menu_icon i{
    color: var(--color-black);
}
.container_inicio{
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: linear-gradient(180deg,rgba(15, 15, 15, 0.1) 50%,rgba(0, 0, 0, 0.84) 100%),url(../img/banner.jpg);
    background-size: cover;
}


.content_titulo_inicio{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_inicio{
    font-size: 6.5rem;
    color: #fff;
    border-bottom: 5px solid #fff;
    margin-bottom: 10px;
}

.description_inicio{
    font-size: 1.5rem;
    color: #fff;
    text-shadow:  0 0 10px #222;
}

.content_btn_inicio{
    margin-top: 8px;
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.list_socials{
    padding: 15px 0;
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    list-style: none;
}


.list_socials li i{
    font-size: 2rem;
    font-weight:lighter;
    color: #fff;
    cursor: pointer;
}

.container{
    padding: 7rem 0 2.5rem;
    background-color: var(--body-color);
}

.content_titulo_about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_about{
    position: relative;
    width: fit-content;
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-black);
    font-weight: var(--size-semi-bold);
    border-bottom:4px solid var(--color-black);
}

.titulo_about::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: 1s ease-in;
}
/* .titulo_about:hover::before{
    width: 100%;
} */
.imgBx_about{
    margin: 0 3rem;
}

.imgBx_about img{
    width: 350px;
    height: 450px;
    box-shadow: 20px -20px 2px 2px #343434;
    object-fit: cover;
}

.content_about{
    margin: 30px 0;
    padding: 3rem 0;
    display: flex;
    justify-content: center;

}

.subtitulo_about{
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    color: var(--color-black);
}

.subtitulo_about_description{
    font-size: 2.2rem;
    margin: 40px  0 15px 0;
}

.description_about{
    font-size: 1.8rem;
    font-weight: lighter;
    color: var(--color-black);
}


/** ------ BTN-EXPLORAR -------*/


.btn_explorar{
    position: relative;
    z-index: 10;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    width: fit-content;
    font-weight: var(--size-semi-bold);
    color: var(--color-black);
    border-radius: 8px;
    border: 1px solid var(--color-black);
    text-decoration: none;
    transition: .5s ease all;
    overflow: hidden;
}

.btn_explorar::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
    border-radius: 47% 53% 44% 56% / 30% 40% 60% 70%;
    width: 0%;
    z-index: -1;
    height: 170%;
    background-color: rgb(57, 57, 57);
    transition: .3s ease;
}
.btn_explorar:hover::before{
    width: 180%;

}
.btn_explorar:hover{
    color: var(--color-white);
    
}



/** ------ Section_Servicios -------*/


.content_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo {
    font-size: 2.5rem;
    padding: 5px 0;
    color: var(--color-black);
    border-bottom: 5px solid var(--color-black);
}

.container_cards_servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--color-black);
    margin: 40px 0 0 0;
}

.description{
    color: var(--color-black);
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
}

.card_servicio{
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.card_description{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.imgBx_servicio{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(180deg,rgba(15, 15, 15, 0.1) 50%,rgba(0, 0, 0, 0.84) 100%),url(../img/planchado.jpeg);
    background-size: cover;
}
.imgBx_servicio.pintura{
    background-image: linear-gradient(180deg,rgba(15, 15, 15, 0.1) 50%,rgba(0, 0, 0, 0.84) 100%),url(../img/pitura.jpg);
}
.imgBx_servicio.reparación{
    background-image: linear-gradient(180deg,rgba(15, 15, 15, 0.1) 50%,rgba(0, 0, 0, 0.84) 100%),url(../img/reparacion.jpeg);
}

.card_titulo_servicio{
    padding: 15px 0;
}

.card_description_servicio{
    color: var(--color-lighler);
    font-size: 1.2rem;
}

.btn_explorar.servicio{
    margin: 20px 0;
}


/* ---------- Section-Galery-works-done --------------*/

.galeria_works_done{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    grid-gap: 6px;
    padding: 0  10px;
}


.card_galeria:first-child{
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}
.card_galeria{
    position: relative;
    overflow: hidden;
}

.card_galeria:hover img{
     transform: scale(1.1);
}

.content_description_works_done{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    background: #2228;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    transition: .3s ease all;
}

.titulo_description_works_done{
    color: #fff;
    font-size: 2rem;
    font-weight: var(--font-semi-bold);
}

.card_galeria:hover .content_description_works_done{
    opacity: 1;
    visibility: visible;
}

.btn_galery{
    margin: 10px 0;
    padding: 10px;
    color: #fff;
    font-weight: var(--font-semi-bold);
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .3s ease all;
}
.btn_galery.inicio{
    background-color: #fff5;
    border: none;
    font-weight:900;
}

.btn_galery:hover{
    background: var(--color-white);
    color: #222;
}



.container_mostrar_antes_depues{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2228;
}
.container_mostrar_antes_depues.active{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.content_icon_close{
    display: flex;
    width: 80%;
    justify-content: flex-end;
}
.content_icon_close i{
    cursor: pointer;
    color: var(--color-white);
    font-size: 2rem;
}
.card_car{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_imgs{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card_car h2{
    color: var(--color-white);
    font-size: 1.7rem;
    margin: 10px 0;
}
.card_car img{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
}
.swiper-button-next, .swiper-button-prev{
   color: var(--color-white);
}

/* ----------- Formulario -------------*/

.container_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content_form{
    margin-top: 50px;
    width: 85%;
    border-radius: 5px;
    height: 550px;
    background-color: var(--color-black);
    display: flex;
}

.imgBx_contact{
    flex: 1;
    background-image: linear-gradient(90deg,rgba(15, 15, 15, 0.1) 50%,rgba(0, 0, 0, 0.84) 100%),url(../img/contact.jpeg);
    background-size: cover;
}
.form{
    flex: 1;
    background-color: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
}

.titulo_form{
    font-size: 2rem;
    margin: 50px 0;
}
.content_input_name,.content_input_numero,.content_input_mensaje{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

label{
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
}

input{
    border: none;
    outline: none;
    width: 300px;
    height: 30px;
    padding: 0 10px ;
    background-color: transparent;
    margin-bottom: 20px;
    color: var(--color-white);
    font-size: 1.2rem;
    border-bottom: 3px solid var(--color-white);
    transition: .5s ease all;    
}
input::placeholder{
    font-size: 1.2rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
input[type='submit']{
    border-bottom: none;
    color:var(--color-white);
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
    background-color: #fff5;
    width: 300px;
    border-radius: 2px;
    padding: 0 10px;
}

textarea{
    border: none;
    outline: none;
    background: transparent;
    margin: 15px 0;
    padding: 0 10px ;
    max-width: 300px;
    min-width: 300px;
    max-height: 120px;
    min-height: 120px;
    font-size: 1.2rem;
    color: var(--color-white);

}

input:focus{
    transform: scale(1.05);
}
input[type='submit']:hover{
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
}
textarea:hover{
    background: #2222;
}

/* ---------------- Ubicacion ------------- */

.content_data_ubicacion{
    display: flex;
}
.informacion_ubicacion{
    flex: 1;
}
.api_google_maps_ubicacion{
    flex: 1;
}

.subtitulo{
   width: 100%;
   text-align: center;
}

.content_data{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item_data{
    display: flex;
    align-items: center;
    margin: 35px 10px;
}
.item_data i{
    padding: 0 15px;
    font-size: 2.5rem;
    color: var(--color-black);
}
.item_data p{
     font-size: 1.7rem;
     color: var(--color-lighler);
}

/* --------- footer -------- */

.conent_data_footer{
    width: 250px;
}

.footer{
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
}
.content_up_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo_footer{
    font-size: 1.5rem;
    padding: 5px 10px;
    color: var(--color-black);
} 

.description_footer{
    padding:  0 10px;
    font-weight: var(--font-semi-bold);
    font-size: 1.2rem;
    color: var(--color-black);
 }

.footer-social li i {
    color: var(--color-black);
}

.footer_reglas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_reglas p{
    padding: 10px ;
    color: var(--color-black);
}


.footer_reglas_term_prevacidad{
    display: flex;
    gap: 10px;

}
.footer_reglas_term_prevacidad span:hover{
    color: #aaa;
    cursor: pointer;
}

@media screen and (max-width: 800px){

    .nav_menu_icon i{
        position: relative;
        z-index: 1000;
        cursor: pointer;
        font-size: 1.9rem;
        font-weight: bolder;
        color: var(--color-white);
    }
    .nav_menu_icon .fa-times{
        color: var(--color-black);
        font-size: 1.9rem;

    }
    .nav_menu_icon{
        display: block;
    }
    .nav_menu{
    transform: translateX(110%);
    padding: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    column-gap: 3rem;
    position: absolute;
    background-color: var(--body-color);
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    flex-direction: column;
    transition: .3s ease-in-out all;
    }
    .nav_menu.active{
    transform: translateX(0%);
        
    }

    .nav_menu li .nav_link{
        color: #ccc;
        font-size: 1.25rem;
    }
    .nav_menu li{
       padding: 10px 0;
    }
    .content_about{
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .subtitulo_about{
       align-items: center;
    }
    .description_about {
        text-align: center;
        font-size: 1.3rem;
    }
    .container_cards_servicios{
        flex-direction: column;
    }
    .card_servicio{
      width: 350px;
    }
    .card_description{
        align-items: center;
    }
    .content_data_ubicacion{
        flex-direction: column;
    }
    .content_data{
        align-items: center;
    }
    .content_form{
        height: 1000px;
        flex-direction: column;
    }
    .imgBx_contact{
        background-position: center;
        background-repeat: no-repeat;
    }
    .subtitulo_about{
        width: 350px;
    }
    .description{
        text-align: center;
    }
    .imgBx_about img{
        width: 250px;
    }
}


@media screen and (max-width: 400px){
    .card_servicio{
        width: 100%;
    }
    input{
        width: 100%;
    }

    textarea{
        max-width: 100%;
        min-width: 100%;
    }
    input[type='submit']{
        width: 90%;
        margin:  10px;
    }
    .content_up_footer{
        flex-direction: column;
    }
    .subtitulo_about{
        padding: 0;
    }
    .description_about{
        font-size: 1.3rem;
        word-wrap: break-word;
    }
    .form
    {
        align-items: flex-start;
        margin: 0 15px;
    }
    .titulo_inicio{
        font-size: 4rem;
    }
    .description_inicio{
        font-size: 1rem;
    }
    .subtitulo_about{
        width: 100%;
        margin: 0 5px;
    }
    .imgBx_about img{
        box-shadow: 10px -10px 2px 2px #343434;
    }
    .galeria_works_done{
        padding: 0;
    }
    .content_input_name, .content_input_numero, .content_input_mensaje{
     width: 90%;
    }
    .imgBx_contact {
        background-image: linear-gradient(180deg,rgba(15, 15, 15, 0.1) 50%,rgba(0, 0, 0, 0.84) 100%),url(../img/contact.jpeg);
    }
}